body {
    background-color: #222;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

a {
    color: #00FFFF;
    text-decoration: none;
}

a:hover {
    color: #00a3a3;
}

.main-content {
    padding: 20px;
}

h1, h2, h3 {
    color: #FF00FF;
}

ul.menu {
    list-style-type: none;
    max-width: fit-content;
}

ul.menu li {
    padding: 10px;
}
